* {
    font-family: Iosevka Nerd Font, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: all;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


/* Left modules */

.modules-left{
  background-color: #000917;
  padding-left:5px;
  padding-right:5px;
  border-radius: 10px;
  border: 2px solid #000326;

}

/*
#battery states.low {
    background-color: #FFFFFF;
    color: #ababab;
} */

#workspaces{
  padding-right:10px;
}

#cpu{
  padding-left:10px;
}

#workspaces button {
    padding: 10px 5px;
    background-color: #000917;
    border-radius:0;
    color: #ffffff;
    outline:none;
    border:none;
}

#workspaces button:hover {
    color:#cba6f7;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #5c5b5b;
}

#workspaces button.urgent {
    color: #eb4d4b;
}


/* Center Modules */

.modules-center{
  background-color: #000917;
  padding-left:15px;
  padding-right:15px;
  border-radius: 12px;
  border: 2px solid #000326;
}

/* Right modules */
.modules-right{
  background-color: #000917;
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px;
  border: 2px solid #000326;
}

#network{
  padding:10px;
}
